.limit
  hint.tac(ng-if="!vm.tour.acknowledged('featureRequest')")
    .x(ng-click="vm.tour.acknowledge('featureRequest')") x
    p Got a feature request? What are you waiting for?
    a(href="https://github.com/christian-fei/pomodoro.cc/") Create a pull-request or open an issue on Github! &nbsp;
      span.icon.ion-social-github

  div.sticky.sticky--left(ng-show="vm.pomodoro.inProgress()")
    i.dashboard-action.icon.mute-sound(ng-click="vm.toggleSound()",ng-class="vm.soundsEnabled ? 'ion-volume-medium active' : 'ion-volume-mute'")

  .pomodoro-timer.animated.bounceIn {{ vm.pomodoro.getRemainingTime() }}

  .pomodoro-control-buttons-container.animated.bounceIn
    button.block.start-pomodoro(ng-click="vm.startStopPomodoro(25,'pomodoro')", ng-disabled="vm.pomodoro.inProgress() && vm.pomodoro.getType() == 'break'", tabindex="21")
      i.icon.ion-ios7-bolt
      span &nbsp; {{ vm.pomodoro.getType()=='pomodoro' ? 'cancel' : 'start' }} pomodoro
    .row.no-outer-margins
      .col-2
        button.block.break-5(ng-click="vm.startStopPomodoro(5,'break')", ng-disabled="vm.pomodoro.inProgress() && vm.pomodoro.getMinutes() != 5", tabindex="22")
          i.icon.ion-ios7-pause
          span &nbsp; {{ (vm.pomodoro.getType()=='break' && vm.pomodoro.getMinutes()==5) ? 'cancel' : '' }} 5min break
      .col-2
        button.block.break-15(ng-click="vm.startStopPomodoro(15,'break')", ng-disabled="vm.pomodoro.inProgress() && vm.pomodoro.getMinutes() != 15", tabindex="23")
          i.icon.ion-ios7-pause
          span &nbsp; {{ (vm.pomodoro.getType()=='break' && vm.pomodoro.getMinutes()==15) ? 'cancel' : '' }} 15min break

  div.tac(ng-if="vm.pomodoro.getDistractions().length > 0")
    b {{vm.pomodoro.getDistractions().length  }}
    | &nbsp; distraction{{ vm.pomodoro.getDistractions().length > 1 ? 's' : '' }} recorded

  div.tac.animated.bounceIn(ng-if="vm.pomodoro.getType()=='pomodoro'")
    ul.tags
      li(ng-repeat="tag in vm.pomodoro.getTags().get()")
        span {{::tag}} &nbsp;
        i.icon.ion-close-circled(ng-click="vm.pomodoro.getTags().remove(tag)")
      li.new-tag(ng-if="vm.pomodoro.getTags().canAdd()",ng-class="{'error':!vm.pomodoro.getTags().canAdd(vm.newTag)}")
        input(ng-model="vm.newTag",type="text",placeholder="add tag",ng-keyup="vm.newTagKeyUp($event)",tabindex="4")

  div(ng-if="!vm.tour.acknowledged('shortcutHint')")
    hint.tac
      .x(ng-click="vm.tour.acknowledge('shortcutHint')") x
      i.icon.ion-android-information
      span &nbsp; Tip: Hit 'Shift + ?' to see the keyboard shortcuts
