.statistics-header
  position relative
  padding-top 6em
  background-color color_pomodoro
  background linear-gradient(to right bottom,rgba(color_pomodoro, 95%) 0, rgba(color_orange, 70%) 95%)
  margin-top -6rem
  padding-left 0.5em
  padding-right @padding-left
  padding-bottom @padding-left

  &, *
    transition all .3s ease-in-out

  *
    color white
    border-color white

  .statistics-graph-image
    position absolute
    right 0
    bottom 0
    opacity 0.7
    display inline-block
    width 350px
    height 120px
    background-image url('/assets/img/graph.png')
    background-position 0 0
    background-size cover
    background-repeat no-repeat

