.statistics-header
  padding-top header_height
  background-color color_pomodoro
  background linear-gradient(to right bottom,rgba(color_pomodoro, 95%) 0, rgba(color_orange, 70%) 95%)
  margin-top -6rem
  padding-left 0.5em
  padding-right @padding-left
  padding-bottom @padding-left

  *
    color white !important
    border-color white !important
