div.statistics-numbers
  .counter-container.row
    .counter.col-2
      .number {{:: vm.statistics.hours }}
      .title hours
    .counter.col-2
      .number {{:: vm.statistics.pomodori }}
      .title pomodori
    .counter.col-2
      .number {{:: vm.statistics.breaks }}
      .title breaks
    .counter.col-2
      .number {{:: vm.statistics.users }}
      .title users

.limit
  p.light updated every 10 minutes
