include ../../mixins/statistics-navigation.jade
+statistics-navigation('weekly')

h5.ng-cloak.tac(ng-if="vm.dataAvailable === false")
  | no data available :(

div.statistics-numbers(ng-if="vm.dataAvailable")
  .counter-container.row
    .counter.col-2
      .avg {{ vm.statistics.avgPomodoriPerDay }} pom / day
      .number {{ vm.statistics.pomodori }}
      .title pomodor{{ vm.statistics.pomodori <= 1 ? 'o' : 'i' }}
    .counter.col-2
      .avg {{ vm.statistics.avgHoursWorkedPerDay }} h / day
      .number {{ vm.statistics.hoursWorked }}
      .title hours

  .tag-filter-container.limit(ng-if="vm.statistics.tags.length > 0")
    h5 Tags
    span.tag.filtered(ng-repeat="tag in vm.statistics.tags") {{ tag }} &nbsp;

h5.tac.light Coming soon...
