.login-button-container
  margin-top 4rem
  text-align center

.login-button
  display inline-block
  width 47.5%
  opacity 0.9
  padding 1em
  margin 0 1.25% 0 0
  border-radius 5px
  text-decoration none
  text-align center
  font-weight bold
  font-size .9rem
  &:last-child
    margin-right 0 

  @media (max-width limit)
    width 100%
    margin-left auto
    margin-right auto



  &:hover
    opacity 0.95

  &:active
    opacity 1
    
  
  &.twitter
    background-color color_twitter
    color white
  &.github
    background-color color_github
    color white


.login-introduction
  font-size 1.1em
  margin-top 4rem
  background-color color_light
  border 1px solid darken(@background-color,6%)
  padding 0.8em
  border-radius 5px