.choose-room
  display inline-block
  background-color #fff
  font-size 2em
  width 50%
  border none
  padding .25em .5em
  margin .5em auto

.choose-room-button
  padding 0.87em
  border-radius 0
  margin-left 0
  vertical-align middle

.hero-background
  position relative
  padding 5em 0.5em 1em
  min-height 24em
  background-image url('../assets/img/public-hero.jpg')
  background-size cover
  background-position center
