
.input-group-container
  margin-top 1.5em
  margin-bottom 1.5em

  .input-group
    border-bottom 1px solid darken(color_light,10%)


.api-key
  overflow scroll
  font-family monospace
  margin-bottom 1rem

.api-key-example
  overflow scroll
  margin 1.5em auto
  font-family monospace
  font-size 14px
