.center.limit
  h1.tac Boost your productivity
  h5.tac Manage your time more effectively

  p.breath
    | This tool will keep help you to keep track of your work and review your achieved goals for the day.
    br
    | By following the guidelines of the
    a.simple(href="http://pomodorotechnique.com/",target="_blank") Pomodoro technique
      sup &reg;
    | you'll be able to boost your productivity,
    | work more concetrated
    | and have frequent, mind refreshing breaks.

  a.button.block.tac.size-l(ui-sref="dashboard",style="margin:5em auto;") start your first pomodoro!
