.limit.small.animated.fadeIn
  h3 Login

  .login-button-container
    a.login-button.twitter(href="/auth/twitter",target="_self")
      i.icon.ion-social-twitter
      | &nbsp; login with twitter
    a.login-button.github(href="/auth/github",target="_self")
      i.icon.ion-social-github
      | &nbsp; login with github

  p.login-introduction
    | Login with your favourite provider to get synchronization of statistics and settings between devices.
