.hero-background
  h3.no.tac Remote pair programming
  h5.no.tac a little less exhausting

  .limit
    form.tac(name="PublicChooseForm",ng-submit="vm.submit()")
      input.tac.choose-room(autofocus="",placeholder="project-1",type="text", ng-model="vm.room", ng-pattern="/^[a-zA-Z0-9-_]*$/")
      button.choose-room-button Join!

.limit
  ul
    li Reserve your own room
    li Less exhausting thanks to shared breaks
    li Work focussed with your partner

  br

  hint.tac
    p Got a feature request? What are you waiting for?
    a(href="https://github.com/christian-fei/pomodoro/") Create a pull-request on Github or open an issue!
