.arrow-navigation
  i
    cursor pointer
    display inline-block
    text-align center
    height 1.5em
    width @height
    line-height @height
    border 1px solid white
    border-radius 50%
    &:first-child
      margin-right 1em
