footer[role=footer]
  position relative
  font-size 0.9rem
  padding 2em .25em
  background darken(color_light,5%)
  box-shadow 0 1px 1px 0 darken(color_light,3%) inset

  .donate
    margin 1.5em auto
