.grid-menu
  background color_light
  background #fff linear-gradient(rgba(0,58,91,0),rgba(0,58,91,0.02))
  box-shadow 0 1px 3px rgba(0,0,0,0.15),0 0 0 1px rgba(0,0,0,0.05)
  border-radius 3px
  margin-top 2em
  margin-bottom @margin-top

  .col
    position relative
    height 12em
    padding .5em
    text-align center
    border-left 1px solid darken(color_light, 5%)
    &:first-child
      border-left none
    &:last-child
      border-right none

    .heading, .lead
      position absolute
      margin 0
      left 0.5em
      right 0.5em
      text-align center

    .heading
      top 0.5em
      font-size 1.1em
      font-weight bold

    .lead
      bottom .5em
      font-size 0.85em
      color lighten(color_dark, 30%)
