header[role=header]
  height 3em
  position relative
  z-index 9000
  background color_white
  padding-left 0.5em
  padding-right @padding-left
  border-bottom 1px solid color_light_grey

  .content
    padding 0

#main-header
  &.white, &.white *
    color white
    border-color white

  header[role=header]
    background none
    border-bottom none
