header[role=header]
  overflow hidden
  position relative
  z-index 9000
  background color_white
  padding-left 0.5em
  padding-right @padding-left
  border-bottom 1px solid color_light_grey

  .content
    overflow hidden
    padding 0

#main-header
  overflow hidden
  &.white, &.white *
    color white !important

  header[role=header]
    background none
    border-bottom none
