header[role=header]
  position fixed
  top 0
  left 0
  right 0
  background color_header
  padding-left 0.5em
  padding-right @padding-left
  border-bottom 1px solid color_light_grey

.login-button
  width 3em
  float left
  display inline-block
  text-indent 0

  &.first
    margin-left 1em !important
