@import '../styles/typography'
.heatmap
  display block
  max-width 600px
  width 100%
  max-height 17em
  overflow scroll
  user-select none

.heatmap .month > span
  width 2em
  height 2em
  background lighten(red,10) !important
  border 1px solid #fff
  border 2px solid transparent !important
  font-weight bold
  float left
  cursor pointer
  line-height 1.6

.heatmap .month > span span
  opacity 0.2
  transition all .2s ease
.heatmap .month > span:hover span,.heatmap .month > span.current span
  opacity 1

.heatmap .month [data-value='0']
  background lighten(red,44) !important
.heatmap .month [data-value='1']
.heatmap .month [data-value='2']
  background lighten(red,40) !important
.heatmap .month [data-value='3']
.heatmap .month [data-value='4']
  background lighten(red,37) !important
.heatmap .month [data-value='5']
.heatmap .month [data-value='6']
  background lighten(red,34) !important
.heatmap .month [data-value='7']
.heatmap .month [data-value='8']
  background lighten(red,30) !important
.heatmap .month [data-value='9']
.heatmap .month [data-value='10']
  background lighten(red,25) !important
.heatmap .month [data-value='11']
.heatmap .month [data-value='12']
  background lighten(red,20) !important
.heatmap .month [data-value='13']
.heatmap .month [data-value='14']
  background lighten(red,16) !important
.heatmap .month [data-value='15']
.heatmap .month [data-value='16']
  background lighten(red,13) !important
.heatmap .month [data-value='17']
.heatmap .month [data-value='18']
  background lighten(red,10) !important
.heatmap .month .current
  background lighten(yellow, 50) !important
  border-color red !important
  border-bottom-color lighten(red,15) !important
.dark-mode .heatmap .month > span span
  color black !important
.dark-mode .heatmap .month > span span
  background transparent !important

.month h3
  display block
  font-size 1em
  margin 0
  padding 0
  text-align-last left
  font-weight bold
  text-decoration underline
.month
  overflow hidden
  margin 0.3em