.heatmap
  display block


.heatmap
  overflow hidden
.heatmap span
  width 2em
  height 2em
  background red
  border 1px solid #fff
  float left
.heatmap [data-value='0']
  background lighten(red,44)
.heatmap [data-value='1']
.heatmap [data-value='2']
  background lighten(red,40)
.heatmap [data-value='3']
.heatmap [data-value='4']
  background lighten(red,37)
.heatmap [data-value='5']
.heatmap [data-value='6']
  background lighten(red,34)
.heatmap [data-value='7']
.heatmap [data-value='8']
  background lighten(red,30)
.heatmap [data-value='9']
.heatmap [data-value='10']
  background lighten(red,20)
.heatmap [data-value='11']
.heatmap [data-value='12']
  background lighten(red,5)
.heatmap [data-value='13']
.heatmap [data-value='14']
  background lighten(red,0)
.heatmap .current
  background lighten(yellow, 50)
  border-color lighten(red,15)
