.login-logout
  float right

  &.left
    float left

  &.center
    float none
    text-align center

  .text, a
    display inline-block
    color color_text
    padding 1.1rem 0.6rem
    font-size 0.8em
    font-weight bold

  .text
    text-shadow none

  i
    vertical-align sub

  &.big
    font-size 1.35em
    .text
      @extend h6
      text-shadow none
      margin 0

.center .login-buttons
  float none

.login-buttons
  float right

  a
    width 1.5em
    display inline-block
    text-indent 0
    text-align center
    padding-left 1em
    padding-right @padding-left

    &.twitter
      color color_twitter
    &.github
      color color_github
