.login-logout
  float right
  padding 0.5rem 0.75rem

  .text
    margin-left 1em

  .text, a
    color color_text
    font-size 0.8em
    font-weight bold

  i
    vertical-align sub

.login-button
  width 1.5em
  float right
  display inline-block
  text-indent 0
  text-align center

  &.first
    margin-left 0.5em !important
    border-right 1px solid color_light_grey
