.login-logout
  float right
  padding 0.6rem 0

  &.big
    font-size 1.35em

    .text
      @extend h6
      text-shadow none

  &.left
    float left

  .text
    // margin-left 1em
    text-shadow none

  .text, a
    color color_text
    font-size 0.8em
    font-weight bold
    &.logout
      border 1px solid lightgrey
      border-radius 12px
      padding 0.2rem 0.7rem

  i
    vertical-align sub

.login-button
  width 1.5em
  float right
  display inline-block
  text-indent 0
  text-align center
  padding-left 0.5em
  padding-right @padding-left

  &.first
    margin-left 0.5em !important
    border-right 1px solid color_light_grey

  &.twitter
    color color_twitter
  &.github
    color color_github
