@import '../styles/vars'
@import '../styles/layout'

.main-footer-wrapper
  background-color color_background
  > div
    @extends .container
    font-size 0.85em
    padding 3em .5em
    overflow hidden
