@import '../styles/vars'
.modal
  top 0
  right 0
  bottom 0
  left 0
  z-index 999
  // opacity 0
  pointer-events none
  -webkit-transition all 0.3s
  -moz-transition all 0.3s
  transition all 0.3s

  & > .modal-body
    width 100%
    max-width container_width_2
    position absolute
    top 30%
    left 50%
    transform translate(-50%, -30%)
    padding 2em
    background #ffffff
    color #333333
    border 2px solid #dedede
    border-radius 5px

body
  .is-blurred
    overflow hidden

    .main-content
      filter url("#blur") /* SVG filters for browser support. */
      filter blur(7px) /* works in chrome */
      -webkit-transition  -webkit-filter 500ms linear
      pointer-events none
      user-select none
