div.pomodoro
  margin 0.5rem auto
  text-align center

  .timer
    font-size 9em
    text-align center
    padding-top 0.1em
    padding-bottom @padding-top
    user-select none


.control-buttons-container
  margin 1rem auto
  max-width limit * 0.8
  overflow hidden

  button
    @extends button.center
    font-weight 400
    width (100%/3)
    float left
    padding .8em
    border-radius 0
    border-left 1px solid color_pomodoro
    border-right @border-left
    &:first-child
      border-top-left-radius 0.5rem
      border-bottom-left-radius @border-top-left-radius
      border-left none
    &:last-child
      border-top-right-radius 0.5rem
      border-bottom-right-radius @border-top-right-radius
      border-right none
