.pomodoro
  margin 3rem auto
  text-align center
  clear both
  .timer
    color color_text_light
    font-size 8.7em
    text-align center
    @media all and (max-width limit)
      font-size 7em


.control-buttons-container
  margin 1rem auto
  max-width limit_small * 0.5
  padding-left 0.5em
  padding-right @padding-left
  overflow hidden
  font-size 0.9em

  button
    display block
    margin-left auto
    margin-right @margin-left
    text-align center
    font-weight 400
    width (100%/3)
    float left
    padding 1em
    border-radius 0
    border-left 1px solid darken(color_pomodoro, 10%)
    border-right @border-left
    &:first-child
      border-top-left-radius 0.5rem
      border-bottom-left-radius @border-top-left-radius
      border-left none
    &:last-child
      border-top-right-radius 0.5rem
      border-bottom-right-radius @border-top-right-radius
      border-right none
