.settings
  margin 2em auto
  display flex
  flex-direction row
  align-items center
  justify-content center

  background-color color_yellow
  color color_yellow_darker
  border 1px solid color_yellow_dark
  border-radius 2em

  min-width 8em
  max-width 10em

  > span
    font-size 0.8em
    padding-left 0.5rem
    padding-right @padding-left

  .item
    text-align center
    font-size 1.5em
    line-height 0
    flex 1 0 0
    border-left 1px solid color_yellow_dark
    border-right @border-left
    text-indent 0.25rem
    &:first-child
      border-left none
    &:last-child
      border-right none

  i 
    font-size 1.2em
