color_yellow = #FCD401
.sound-settings
  text-align center
  padding 0

  button
    position relative
    background color_yellow
    color black
    border none
    margin 0
    font-size 1.2rem
    padding 0.5em 1.75em
    padding 0.7em 1.4em
    border-radius 0
    border-right 1px solid darken(color_yellow, 8%)
    &:first-child
      border-top-left-radius 0.5rem
      border-bottom-left-radius @border-top-left-radius
      border-left none
    &:last-child
      border-top-right-radius 0.5rem
      border-bottom-right-radius @border-top-right-radius
      border-right none

    i:before
      width 0.5em

    &.ticking-sound-toggle:after,
    &.ringing-sound-toggle:after
      content 'toggle ticking sound'
      font-size 0.85em
      position absolute
      top 110%
      left 50%
      transform translateX(-50%)
      display inline-block
      width 10em
      background #333
      color white
      padding .25em
      transition all 0.1s ease-in-out
      opacity 0
      border-radius 5px
    &.ringing-sound-toggle:after
      content 'toggle ringing sound'

    &.ticking-sound-toggle:hover:after,
    &.ringing-sound-toggle:hover:after,
    &.ticking-sound-toggle:focus:after,
    &.ringing-sound-toggle:focus:after
      opacity 1
      transition all 0.5s ease-in-out
