.statistics-numbers-container
  display flex
  > div
    text-align center
    flex 1
    min-height 5em
    padding 1em
    border-right 1px solid color_light_grey
    &:last-child
      border-right none

    > *
      line-height 1.1

    .number
      font-weight 300
      font-size 5em
      margin-right .5rem

    .text
      vertical-align baseline
      display inline-block
      font-size 1em
      &.small
        font-size 0.7em

    .small
      font-size 0.9em