.timeline-container
  overflow scroll
  svg
    min-width limit_extended
    circle
      opacity 0.8
      fill color_pomodoro
      stroke white
      stroke-width 2px
      
      &.break
        fill color_pomodoro_leaf
