.timeline-container
  overflow scroll
  margin 1em auto
  text-align end
  svg
    margin 0 auto
    circle
      fill white
      stroke color_pomodoro
      fill rgba(@stroke, 70%)
      stroke-width 2px

      &.break
        stroke color_pomodoro_leaf
        fill rgba(@stroke, 70%)
