@import '../styles/vars'
.timer
  margin 5rem auto 2rem
  line-height 1
  text-align center
  clear both
  color color_text_light
  font-size 8.4em
  text-align center
  font-weight 300
  @media all and (max-width container_width)
    font-size 7.6em
