@import '../styles/vars'

.timer-buttons-container
  margin 1rem auto
  padding-left 0.5em
  padding-right @padding-left
  overflow hidden
  font-size 0.9em
  max-width container_width_3

  button
    display block
    margin-left auto
    margin-right @margin-left
    text-align center
    font-weight 400
    width (100%/3)
    float left
    padding 1em
    border-radius 0
    background color_pomodoro
    background white
    color white
    color color_pomodoro
    color black
    font-size 1rem
    border none
    border 1px solid darken(color_pomodoro, 10%)
    border-right none
    &:first-child
      border-top-left-radius 0.5rem
      border-bottom-left-radius @border-top-left-radius
      // border-left none
    &:last-child
      border-top-right-radius 0.5rem
      border-bottom-right-radius @border-top-right-radius
      border-right @border
