@import '../styles/vars'

.todo-form-container
  padding .5rem
  width 100%
  max-width container_width_2
  margin 0 auto

.todo-form
  width 100%
  margin 0
  padding 0
  list-style-type none

.todo-input-container
  padding 0
  margin-bottom 1.5em

.todo-input
  display block
  width 100%
  outline none
  border none
  font-size 1.1em
  text-align center
  padding 1em 1.5em
  background #f7f7f7

.no-m
  margin 0

.m-t
  margin-top 1.5em !important

.all-done-title
  opacity 0.8

.percent-done
  font-size 0.8rem
  font-weight bold
  vertical-align super
  margin-left 2em
  padding 0.1em 0.3em
  border-radius 0.5em

.percent-done-low
  opacity 0.5
  background-color rgba(color_pomodoro, 0.9)
  color white
.percent-done-mid
  opacity 0.8
  background-color rgba(color_pomodoro_leaf, 0.9)
  color white
.percent-done-high
  opacity 1
  background-color rgba(color_pomodoro_leaf, 0.9)
  color white