@import '../styles/vars'

.todo-list-container
  padding .5rem
  width 100%
  max-width container_width_2
  margin 2rem auto

.todo-list
  width 100%
  margin 0
  padding 0
  padding-top 1em
  padding-bottom 1em
  list-style-type none

.todo-input
  display block
  width 100%
  padding 0.75em 1.5em
  outline none
  border none
  border-bottom 1px solid lightgrey
  font-size 1.2em
  text-align center
  margin-top 1em
  margin-bottom 2em