@import '../styles/vars'
.todo-list-container
  padding .5rem
  width 100%
  max-width container_width_2
  margin 2rem auto
.todo-list
  width 100%
  margin 0
  padding 0
  list-style-type none

.todo-input
  // padding 16px
  // border none
  // width 100%
  // font-size 1.5em
  // font-family inherit
  // font-weight 400
  // line-height 1.4em
  // outline none
  // text-align center
