@import '../styles/vars'
.todo
  user-select none
  position relative
  padding 0
  width 100%
  font-size 1.3em

.todo .text
  display block
  word-break break-word
  font-weight 400
  line-height 1.2
  transition color 0.4s
  padding-top 15px
  padding-bottom 15px

.todo.completable .text
  padding-left 25px
  margin-left 2em
.todo.deletable .text
  padding-right 25px
  margin-right 2em

.todo .delete
.todo .complete
  position absolute
  top 0
  bottom 0
  width 50px
  height 50px
  margin auto 0
  transition color 0.2s ease-out
  padding 0
  border 0
  background none
  display block
  color lightgrey
.todo .delete
  right 10px
.todo .complete
  left 10px

.todo.completed .complete
  color color_pomodoro_leaf
.todo.completed .complete:hover
  color lightgrey

.todo.completed:hover
  text-decoration inherit

.todo .delete:after, .todo .complete:after
  font-size 0.75rem
.todo .delete:hover
  color color_pomodoro
.todo .complete:hover
  color color_pomodoro_leaf

.todo .delete:after
  content 'delete'
.todo .complete:after
  content 'done'





.todo .edit-view, .todo.editing .normal-view
  display none

.todo.editing
  background-image url('/assets/images/pen.png')
  background-size 1em
  background-repeat no-repeat
  background-position 1.1em 50%

.todo.editing .edit-view
  display block
  width 360px
  margin-left 2em
  margin-right 2em
  padding-top 0.7rem
  padding-bottom 0.7rem
  padding-right 3.5em
  padding-left 25px

.todo.editing .edit
  position relative
  margin 0
  padding 0
  width 100%
  height 100%
  font-size 1em
  font-family inherit
  border 0
  outline none
  box-sizing border-box
  -webkit-font-smoothing antialiased
  resize none
  background white
  // margin-right 2em


.all-done
  animation fade-from-right-to-left .75s ease-out
  position relative

@keyframes fade-from-right-to-left
  from
    opacity 0
    left 1em
  to
    opacity 8
    left 0