@import '../styles/vars'
@import '../styles/layout'

.top-bar-container
  background-color color_background
  border-bottom 1px solid rgba(49,78,95,0.075)
.top-bar
  @extends .container
  overflow hidden
  padding 0.6rem 0.1rem

  a, .link, .item
    vertical-align middle
    text-align center
    display inline-block
    padding-left 0.5em
    padding-right @padding-left
    font-size 0.9em
    color black !important
    font-weight bold
