@import '../styles/vars.styl'

.track-distraction
  margin 1rem auto
  padding-left 0.5em
  padding-right @padding-left
  overflow hidden
  font-size 0.9em
  max-width container_width_3

  .track-distraction-button
    display block
    margin-left auto
    margin-right @margin-left
    text-align center
    font-weight 400
    width (100%/3)
    width 100%
    float left
    padding 1em
    border-radius 0
    background transparent
    color color_pomodoro
    font-size 1rem
    border none
    border-right none