.user-profile
  display inline !important
  padding 0 !important
  float right !important
  img
    height 32px
    width 32px
    -webkit-border-radius 50%
    border-radius 50%
    vertical-align middle
    cursor pointer
    margin 0.6rem
    border 2px solid white

  .username
    display none
    color color_text

  &.show-username
    .username
      display block

  &.center
    float none !important
    display block !important
    text-align center
    margin-left auto
    margin-right @margin-left
  &.left
    float none !important
    display block !important

  &.big
    img
      height 75px
      width @height