@import '../styles/layout.styl'
.welcome-bar-container
  background-color color_background
  background-color lighten(color_background, 4)
  border-bottom 1px solid rgba(49,78,95,0.075)

  .welcome-bar
    @extend .container
    padding 1.5em .75em

.cta
  display inline-block
  padding 1em 2.5em
  margin 0.5em
  font-size 1.35em
  font-weight bold !important
  // border 1px solid color_pomodoro
  // color color_pomodoro
  border-radius 5px