.brand
  float left
  margin 0.55rem
  margin-bottom 0.45rem
  padding 0
  border 0
  font-size 1.1em
  margin-left 0.5rem
  color #333
  text-decoration none
  transition all .3s ease

  &:hover, &:focus
    opacity 1
    background-color transparent
    text-decoration none
    color #333
    .tld
      opacity 1

  span:first-child
    text-transform uppercase
    color color_pomodoro
    font-weight bold

  span.tld
    font-size 0.6em
    opacity 0
    transition .3s all ease
