color_dark = #394240
color_orange = rgb(253, 164, 0)
color_pomodoro = #DF2E2E
color_pomodoro_leaf = #24B524
color_text = #292E31
color_text_light = #555
color_text_dark = #292E31
color_heading = darken(color_text,25%)
color_link = color_pomodoro
color_white = #FFF
color_light = #FFF
color_light_grey = #F8F8F8
color_twitter = #019CD7
color_github = #333333

color_yellow = #FCD401
color_yellow_dark = darken(color_yellow,10%)
color_yellow_darker = darken(color_yellow,70%)
