/* https://github.com/chrisnager/ungrid/ */
@media (min-width (limit*0.9))
  .row
    width 100%
    display table; table-layout fixed
  .col
    display table-cell
    vertical-align top

  .border-right
    border-right 1px solid rgba(0,0,0,0.07)

@media (max-width (limit*0.9))
  .row
    max-width 90% !important
