.icon.pomodoro
  &:before
    content ''
    display inline-block
    background-image url('/assets/img/logo_white.png')
    width 0.9rem
    height @width
    background-size contain
    background-position 50%

  &.dark:before
    background-image url('/assets/img/logo_dark.png')
