.prominent-header
  position relative
  padding-top 6em
  background-color color_pomodoro
  background linear-gradient(to right bottom, rgba(223,46,46,0.95) 0, rgba(253, 94, 0, 0.7) 95%)
  margin-top -5rem
  padding-left 0.5em
  padding-right @padding-left
  padding-bottom @padding-left

  &, *
    transition all .3s ease-in-out

  *
    color white
    border-color white
