@import 'general/normalize'

/* COLORS */
color_body = #FCFCFC
color_pomodoro = #ED5A3A
color_pomodoro_leaf = #24b524
color_header = lighten(color_body,17%)
color_light = #FEFEFE
color_light_grey = #E9E9E9


header_padding = .75rem
header_height  = header_padding + 0.6rem
limit = 42em

main
  margin-top (header_height*2)
  min-height 500px

.limit
  max-width limit
  margin-left auto
  margin-right @margin-left

header[role=header]
  position fixed
  top 0
  left 0
  right 0
  background color_header
  padding header_padding
  height header_height
  border-bottom 1px solid color_light_grey


.brand
  margin 0
  padding 0
  border 0
  font-size 1.1em
  margin-left 0.5rem
  margin-top (header_height/5)
  color #333
  opacity 0.7
  text-decoration none
  transition all .3s ease

  &:hover
    opacity 1
    background-color transparent
    text-decoration none
    color #333
    .tld
      opacity 1

  span:first-child
    color color_pomodoro
    font-weight bold

  span.tld
    font-size 0.6em
    opacity 0
    transition .3s all ease


footer[role=footer]
  position relative
  font-size 0.9rem
  padding 2em .25em
  background darken(color_light,5%)
  box-shadow 0 1px 1px 0 darken(color_light,3%) inset

  .donate
    margin 1.5em auto

.tac
  text-align center
