limit = 75rem
limit_extended = 90rem
limit_small = 60rem

main_overflow = 5rem


@import 'styles/colors'
@import 'styles/animations'
@import 'styles/*'
@import 'components/*'

body
  background color_light
