<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet", href="index.css")
    link(rel="stylesheet", href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    link(href='https://fonts.googleapis.com/css?family=Hind:400,500,600', rel='stylesheet', type='text/css')
  body
    #main-header
    main(role="main")
    footer(role="footer")
      .content
        .limit.tac
          p Made with &nbsp;
            i.icon.ion-heart
            i.icon.ion-ios7-pause
            | &nbsp; by
            a(href="http://christian.fei.ninja",target="_blank") Christian Fei

          p Proudly hosted on
            a(href="https://www.digitalocean.com/?refcode=880e8f681b50") digitalocean

        .donate.tac
          a.button(href="https://gum.co/UUmO") Donate on Gumroad
          script(type="text/javascript", src="https://gumroad.com/js/gumroad.js", async)

        .limit.tac
          p.small.light This application is not affiliated, associated or endorsed by the Pomodoro Technique® or Francesco Cirillo.
          p.small.light The Pomodoro Technique® and Pomodoro™ are registered trademarks by Francesco Cirillo.

        .limit.tac
          a(href="https://mixpanel.com/f/partner")
            img(src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png", alt="Mobile Analytics")

    script(src="index.js")
