mixin header
  header.ng-cloak
    .header__container
      a.brand(href="/about", tabindex="10") P
        span.rest omodoro
        span.tld .cc
      ul.header__menu
        li.dropdown.ng-cloak(ng-if="!user", ng-init="loginDropdownOpened=false", ng-click="loginDropdownOpened=!loginDropdownOpened", ng-class="{'opened':loginDropdownOpened}")
          button.reset(tabindex="21")
            span.menu-text Menu
            ul.menu
              li
                a(ui-sref="dashboard",tabindex="11") Dashboard
              li
                a(ui-sref="settings",tabindex="15") Settings
              li
                a(ui-sref="public.choose",tabindex="12") Public
              li.divider Statistics
              li
                a(ui-sref="statistics.daily",tabindex="14") Statistics
              li
                a(ui-sref="statistics.global",tabindex="13") Global
              //- ul.row.no-outer-margins(style="margin:0")
              //-   li.col-2
              //-     a.twitter(href="/auth/twitter",target="_self")
              //-       i.icon.ion-social-twitter
              //-   li.col-2
              //-     a.github(href="/auth/github",target="_self")
              //-       i.icon.ion-social-github
        li.dropdown.ng-cloak(ng-if="user", ng-init="userDropdownOpened=false", ng-click="userDropdownOpened=!userDropdownOpened", ng-class="{'opened':userDropdownOpened}")
          button.reset(tabindex="20")
            img.avatar(ng-src="{{::user.avatar}}")
            .menu
              ul
                li
                  a.block(analytics-on="click", analytics-event="logout", href="/auth/logout", target="_self", style="width: 100%;",tabindex="21") logout &nbsp;
                    i.icon.ion-log-out
