mixin header
  header.ng-cloak
    .header__container
      a.brand(href="/about", tabindex="10") P
        span.rest omodoro
        span.tld .cc
      ul.header__menu
        li.dropdown(ng-init="loginDropdownOpened=false", ng-click="loginDropdownOpened=!loginDropdownOpened", ng-class="{'opened':loginDropdownOpened}")
          button.reset(tabindex="11")
            img.avatar(ng-if="user", ng-src="{{::user.avatar}}")
            span.menu-text Menu
            ul.menu
              li
                a(ui-sref="dashboard",tabindex="12") Dashboard
              li
                a(ui-sref="settings",tabindex="13") Settings
              li
                a(ui-sref="public.choose",tabindex="13") Public
              li.divider Statistics
              li
                a(ui-sref="statistics.daily",tabindex="16") Statistics
              li
                a(ui-sref="statistics.global",tabindex="17") Global
              div(ng-if="!user")
                li.divider Login
                li
                  a(href="/auth/twitter",target="_self", style="width: 3em; margin-left: 1em; float:left; display:inline-block; text-indent: 0")
                    i.icon.ion-social-twitter(style="float:left")
                  a(href="/auth/github",target="_self", style="width: 3em; float:left; display:inline-block; text-indent: 0")
                    i.icon.ion-social-github(style="float:left")
              div(ng-if="user")
                li
                  a(href="/auth/logout", target="_self") Logout &nbsp;
                    i.icon.ion-log-out
