mixin keyboardShortcuts
  modal.ng-cloak(name='keyboardShortcuts')
    h5.icon.ion-game-controller-a(style="padding: 0.5em;") &nbsp; Shortcuts
    ul.keyboard-shortcuts(style="max-width:none; padding: 1em;")
      li
        span.shortcut m
        span.action toggle sound
      li
        span.shortcut t
        span.action toggle ticking sound
      li
        span.shortcut x
        span.action record distraction
      li
        span.shortcut space
        span.action start 25min
      li
        span.shortcut d
        span.action dashboard
      li
        span.shortcut s
        span.action daily statistics
      li
        span.shortcut w
        span.action weekly statistics
