mixin loginPrompt
  modal.ng-cloak(name='loginPrompt')
    h5.icon.ion-person(style="padding: 0.5em; margin-top: 0.5em;") &nbsp; Login
    p.tac You need to be logged in to see your statistics!
    .login-button-container(style="margin-top: 2em")
      a.login-button.twitter(href="/auth/twitter",target="_self")
        i.icon.ion-social-twitter
        | &nbsp; login with twitter
      a.login-button.github(href="/auth/github",target="_self")
        i.icon.ion-social-github
        | &nbsp; login with github
