.content
  padding-left 0
  padding-right @padding-left
  padding-top height_header
  padding-bottom @padding-top

[ng\:cloak]
[ng-cloak]
.ng-cloak
  display none !important

.ng-leave-active
  display none
