.content
  padding-left 0
  padding-right @padding-left
  padding-top height_header
  padding-bottom @padding-top
  min-height 100%

.breath-top
  margin-top 5rem


[ng\:cloak]
[ng-cloak]
.ng-cloak
  display none !important

