form
  overflow hidden

.input-group-container label
    text-indent 1em

.input-group
  padding .5em
  overflow hidden

  > *
    display block
    float left
    width 50%
    vertical-align middle

  &.disabled
    opacity 0.6

  label
    user-select none

  input
    padding-left: 10px

  .checkbox
    display inline-block
    font-size 1.3em
    text-align center

input.ng-invalid
  border 3px solid color_pomodoro
