.limit
  margin-left  auto
  margin-right auto
  max-width limit
  padding 0.25rem 0.5rem
  &.narrow
    max-width limit_narrow
  &.extended
    max-width limit_extended



.size-s
  max-width 10em
.size-m
  max-width 15em
.size-l
  max-width 20em
.size-xl
  max-width 25em