/*

DIMENSIONS

*/

limit = 42rem
limit_narrow = 40rem
limit_extended = 60rem

width_statistics = 1000px
height_statistics = 350px

width_distraction_bubble = 200px
height_distraction_bubble = 200px

height_header = 2.75rem

size_rounded_button = 1.75em




/*

COLORS

*/
color_pomodoro = #ED5A3A
color_pomodoro_leaf = #24b524
color_body = #FCFCFC
color_header = lighten(color_body,17%)
color_text = #494949
color_text_dark = #292e31
color_heading = darken(color_text,25%)
color_link = #03a9f4
color_light = #FEFEFE
color_light_grey = #E9E9E9
color_dark = #394240
color_twitter = #019CD7
color_github = #333333





/*

OTHER

*/

sticky_steps = 10em
