@import '../styles/vars'

.export-action, [for=import]
  display block
  width 50%
  min-width 600px
  padding .5em 1em
  margin-bottom 2em
  border-bottom 1px solid color_pomodoro
  &:hover
    border-bottom-color black

.subscribe-content
  padding-top 4em
  padding-bottom 4em