@import '../styles/vars'

.export-action, input[type=file]
  display block
  width 100%
  text-align center
  padding 1em
  margin-bottom 2em
  border 1px solid color_pomodoro
  &:hover
    border-color black
