@import '../styles/vars.styl'
.noop
  display none

.loading
  transition all .2s ease
  opacity 0.2

.flatpickr-input
  padding 0.5em 1em
  border none
  outline none

.activity
  display block
  margin 1em auto !important
  max-width 30em
  height 3em
  overflow hidden
.activity > *
  position relative
  float left
  margin 0
  padding 0
  border 0
  outline none
  height 3em

.idle-time
  display block
  background #fefefe
.activity-item
  display block
  background lighten(color_pomodoro, 40%)

.activity > * span
  font-size 0.8em
  position absolute
  opacity 0
  transition all .3s ease
  z-index 9000
.activity > *:hover span
  opacity 1
  background white
  border-bottom 2px solid #333