@import '../styles/vars.styl'
.day
  display inline-block
  width 1em
  height 1em
  border 1px solid lightgrey
  background transparent

.pomodoros-1
.pomodoros-2
  background orange

.pomodoros-3
.pomodoros-4
  background green
