@import '../styles/vars.styl'
.noop
  display none

.stats-navigation
  width 420px
  margin 0 auto

.statistics-nav-button
  display inline-block
  border-radius 1em
  padding 0.5em 1.5em
  &:hover
    background color_background

.paper-sheet
  display block
  width 9em
  height 7em
  margin 0 auto
  vertical-align middle
  padding 0.5em
  opacity 0.7