@import '../styles/vars.styl'
.day
  position relative
  padding 1em
  border-bottom 1px solid lightgrey

.pomodoros-0
.pomodoros-1
  background lighten(green, 70)
.pomodoros-2
.pomodoros-3
  background lighten(green, 40)
.pomodoros-4
.pomodoros-5
.pomodoros-6
  background lighten(green, 20)
.pomodoros-7
.pomodoros-8
.pomodoros-9
.pomodoros-10
  background lighten(green, 10)
.pomodoros-11
.pomodoros-12
.pomodoros-13
.pomodoros-14
.pomodoros-15
  background lighten(green, 5)

.amount
  height 1em
  opacity 0.3
  // background red