@import '../styles/vars.styl'
.day
  position relative
  padding 1em

.statistics-analysis
  .pomodoros-0
  .pomodoros-1
    background lighten(green, 50) !important
  .pomodoros-2
  .pomodoros-3
    background lighten(green, 40) !important
  .pomodoros-4
  .pomodoros-5
  .pomodoros-6
    background lighten(green, 20) !important
  .pomodoros-7
  .pomodoros-8
  .pomodoros-9
  .pomodoros-10
    background lighten(green, 10) !important
  .pomodoros-11
  .pomodoros-12
  .pomodoros-13
  .pomodoros-14
  .pomodoros-15
    background lighten(green, 5) !important
  .pomodoros-16
  .pomodoros-17
  .pomodoros-18
  .pomodoros-19
  .pomodoros-20
    background lighten(green, 5) !important

  .todos-0
  .todos-1
    background lighten(red, 50) !important
  .todos-2
  .todos-3
    background lighten(red, 40) !important
  .todos-4
  .todos-5
  .todos-6
    background lighten(red, 20) !important
  .todos-7
  .todos-8
  .todos-9
  .todos-10
    background lighten(red, 10) !important
  .todos-11
  .todos-12
  .todos-13
  .todos-14
  .todos-15
    background lighten(red, 5) !important
  .todos-16
  .todos-17
  .todos-18
  .todos-19
  .todos-20
    background lighten(red, 5) !important

  .amount
    height 1em

.amount
  background white
  position relative

.hover-content
  opacity 0
  position absolute
  width 40em
  background white
  display none

.amount:hover .hover-content
  display block
  opacity 1
  background white