@import '../styles/vars'

.indicator
  display inline-block
  height 0.8em
  width 0.8em
  border-radius 50%
  border 1px solid white
  vertical-align middle
  margin-top calc(-0.8em / 4)
  margin-left 0.5em
  margin-right 0.5em
  &.connected
    background green
  &.not-connected
    background color_pomodoro