.row
  overflow hidden

  &.no-outer-margins
    .col-2
      margin-right 5%
      margin-left 0
      &:last-child
        margin-right 0

  .col-1
    width 97.5%


  .col-2
    width 47.5%

  .col-3
    width 37.5%

  .col-4
    width 22.5%

  > *
    display inline-block
    float left
    margin-right 1.25%
    margin-left 1.25%

    @media all and (max-width limit)
      width 100% !important
  