.hint
  background-color #fff8e1
  border 1px solid #ffe9c7
  color #ffc107
  padding .5em
  margin-bottom .5em
  border-radius 4px
  font-size 0.9em

  .x
    float right
    display block
    width 1em
    height @width
    color darken(#ffc107, 20%)
    cursor pointer
