.keyboard-shortcuts
  list-style-type none
  max-width 15em
  margin 0
  text-align left
  opacity 0.8
  transition opacity 0.3s ease
  &:hover
    opacity 1

  li
    overflow hidden
    margin-bottom 0.1em
  .shortcut
    margin-right 1em
    font-weight bold
    position relative

  .action
    float right
