.login-menu-text
  display inline-block
  margin-right .5rem
  color black
  font-size 0.8rem

.menu.login
  text-align center
  .twitter
    background-color color_twitter
    color white
  .github
    background-color color_github
    color white
