.rollover-menu-container
  position relative

.rollover-menu
  position absolute
  display none
  background white
  box-shadow 0px 5px 25px -5px #333
  list-style-type none
  width 6rem
  border-radius 5px
  top 111%
  right 0
  text-align left
  z-index 10000
  text-indent 0.5rem
  font-weight bold
  font-size 0.8rem
  &:before
    content ''
    position absolute
    display block
    width 30px
    height 12px
    top -10px
    left 60px
    background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACUAAAAMCAQAAABPNLx2AAAAyUlEQVR4AZ3MS2qFMBTG8c9XEl876Aq8XF8bFQRBcODMgXvoShzoLopO0tOGgodWvfX7j3IIP7ww67vbs3a5EHDZ5QZiU2JMPt7HhDh6/QfcIZQDOTy2WettHh6Q9LYZeAUZhHKh+idBtC+sf0LRzTHgOcYZD36XGugH61L48Dh3BhlGIGgzA+2xNkMAYbgjjEMSYZOvi/61dWlyhJCHGIMEJKK6YBDD6gIRJMRfGIcU4qo00BFWlYihOHYDOsfY9Jue9PUm+gfeJ3CO3uZSFnkYAAAAAElFTkSuQmCC')
    background-size contain

  li
    a
      display block
      width 100%
      padding .5rem .25rem
      color black

.rollover-menu-container.opened .rollover-menu, .rollover-menu-container:focus .rollover-menu-container
  display block !important


.csstransforms.csstransitions
  .rollover-menu
    display block
    transform scale(0)
    transform-origin 100px 0px
    transition all 300ms cubic-bezier(0.34,1.61,0.7,1)
  .rollover-menu-container.opened .rollover-menu, .rollover-menu-container:focus .rollover-menu-container
    transform scale(1) !important
