.statistics-navigation
  position fixed
  z-index 9944
  text-align center
  top height_header
  background color_header
  left 0
  right 0
  overflow hidden
  transition all .1s ease

  .statistics-navigation__container
    @extend .limit
    overflow hidden
    margin auto
    position relative
    padding 0.75rem 0.25rem

.pagination
  display inline-block
  height size_rounded_button
  width @height
  float left
  text-align center
  line-height @height * 0.85
  border-radius 50%
  border 1px solid color_dark
  background-color none
  transition all .3s ease
  color color_dark
  text-indent -0.075em
  opacity 0.4

  &:hover
    background white
    color black
    opacity 1
  &.pagination--next
    text-indent 0.075em
    float right





.twitter-share
  display inline-block
  height size_rounded_button
  width @height
  float left
  vertical-align top
  line-height @height*0.9
  margin-left 0.7em
  text-align center
  background-color color_twitter
  color white
  border 1px solid color_twitter
  border-radius 50%
  transition all 0.1s ease-in-out







.statistics-type-tabs
  position absolute
  height size_rounded_button
  left 50%
  margin-top 0.2em
  font-size 0.8em
  width 12em
  margin-left -6em
  background none
  text-align center
  overflow hidden
  border-radius 5px
  border 1px solid #2d2d2d

  &, > *
    transition all 0.2s ease-in-out

  &:hover > *
    opacity 1

  a
    display inline-block
    float left
    height 100%
    line-height 1.35
    width 50%
    text-align center
    text-decoration none
    color color_dark
    background rgba(white,0.5)



    &.active
    &:hover
    &:active
      color white
    &.active
      background color_dark
    &:hover
      background lighten(color_dark,30%)
    &:active
      background lighten(color_dark,15%)

    &:nth-child(1)
      border-top-right-radius 0
      border-bottom-right-radius 0
    &:nth-child(2)
      border-top-left-radius 0
      border-bottom-left-radius 0
