.tag
  display inline-block
  font-size .8em
  text-align center
  border-radius .5em
  padding .25em .75em
  margin .125em .5em
  border 1px solid color_pomodoro_leaf
  color color_pomodoro_leaf

  *
    color color_pomodoro_leaf

  &:focus
    transform translateY(-5px)
    box-shadow 0px 5px 5px lightgrey
    
.tags
  margin-left auto
  margin-right auto

  li
    @extend .tag

    .toggle
    &.new-tag
      display block
      width 15em
      text-align center
      margin 1em auto 5em
      background-color lighten(color_body,10%)
      color color_text !important
      border 2px solid transparent
      border-radius 0

      &.error
        border-bottom 1px solid color_pomodoro !important
      
      input
        color inherit
        font-size 1em
        background-color inherit
        text-align center
        outline none
        border none
        padding 0
        margin 0

::-webkit-input-placeholder
  color color_text
:-moz-placeholder
  color color_text
::-moz-placeholder
  color color_text
