slide_amount = 15px
@keyframes slide-up
  0%
    transform translateY(slide_amount)
  100%
    transform translateY(0px)
@keyframes slide-down
  0%
    transform translateY(- slide_amount)
  100%
    transform translateY(0px)