html, body
  min-height 50em

main
  transition all .3s ease-in-out
  .prominent-header, .content
    position relative
    min-height 2.5em
    transition all 0.3s ease-in-out
    animation-duration 1s

  .prominent-header
    animation-name slide-down
  .content
    display flex
    flex-direction row
    align-items center

    min-height 60vh

    animation-name slide-up

    background-color #fff
    box-shadow 0 1px 3px rgba(0,0,0,0.15), 0 0 0 1px rgba(0,0,0,0.05)
    border-radius 5px
    padding-top 2em
    padding-bottom 2em
    margin-top (- main_overflow) !important
    margin-bottom (- main_overflow) !important
    z-index 5000

    > *
      flex 1

.limit
  max-width limit
  margin-left auto
  margin-right @margin-left
  padding-left 0.5em
  padding-right @padding-left
  @media all and (max-width limit)
    width 93% !important

  &.small
    max-width limit_small
    @media all and (max-width limit_small)
      width 93% !important

  &.extended
    max-width limit_extended
    @media all and (max-width limit_extended)
      width 93% !important

.breath
  margin-top 1em
  margin-bottom @margin-top


.ovh
  overflow hidden


.about-content
  .content
    background-image url(/assets/img/pomodoro.png)
    background-repeat no-repeat
    background-position 50% 0
    padding-top 2em
    > div
      background white
