.prominent-header
  position relative
  padding-top 3rem
  padding-bottom main_overflow * 1.5
  background-color color_pomodoro
  background linear-gradient(to right bottom, rgb(223,46,46) 0, rgb(243,70,3) 95%)
  margin-top -5rem

  &, *
    transition all .3s ease-in-out

  *
    color white
    border-color white
