modular-font-size(times = 1)
  font-size (1.125 * times)rem

html
body
  font-family 'Lato', helvetica, arial, sans-serif
  font-size 17px
  line-height 1.5
  font-weight 400
  font-smoothing antialiased
  color color_text

  @media all and (max-width limit)
    font-size 16px




h1
h2
h3
h4
h5
h6
  color color_heading
  line-height 1.25
  margin-top 1.125em
  margin-bottom .5em
  font-weight 300

h1
  modular-font-size(2.35)
h2
  modular-font-size(2.1)
h3
  modular-font-size(1.75)
h4
  modular-font-size(1.5)
h5
  modular-font-size(1.35)
h6
  modular-font-size(1.2)

.button
button
  font-family inherit
  font-size 1em
  display inline-block
  text-decoration none
  font-weight bold
  background color_pomodoro
  text-shadow 0 0 1px rgba(0,0,0,.3)
  padding 0.7em
  border-radius .25em
  margin .5em .25em
  color white
  border none
  transition all .15s ease-in-out

  *
    color inherit

  &.block
    display block
    width 100%

  &:hover
  &:active
    color white

  &:hover
    background lighten(color_pomodoro,5%)

  &:active
    background lighten(color_pomodoro,10%)

  &.rounded
    border-radius 25px

  &.inverted
    background white
    color color_pomodoro
    &:hover
      background color_pomodoro
      color white
      text-decoration none


  &.bordered
    border 1px solid color_pomodoro

  &[disabled]
    cursor not-allowed
    opacity .5


a
.link
  display inline-block
  color color_link
  font-weight bold
  text-decoration none
  &:hover
    color #47c4fd
    color lighten(color_link,10%)
    text-decoration underline
  &.block
    display block

  &.unlink
    color color_text

strong
  font-weight bold

.small
  font-size 0.9em

ul
ol
  margin 1.6em 0 1.6em 1.3em


ol ol
ul ul
ul ol
ol ul
  margin 0.4em 0


hr
  display block
  height 1px
  border 0
  border-top 1px solid rgba(0,0,0,0.07)
  margin 3.2em 0
  padding 0


time
  font-size 0.8em
  color rgb(100,100,100)


.tac
  text-align center
.tar
  text-align right

.breath
  margin-top 4em !important
  margin-bottom @margin-top

.light
  color darken(color_light, 55%)
  transition color .3s ease-in-out
  &:hover
    color darken(color_light,65%)

.bold
  font-weight bold

sup
  vertical-align super
  font-size smaller

.hidden
  display none !important

pre
  color black
  background lightgrey
  overflow scroll


.tdn
  text-decoration none


.right
  float right


dt
  font-weight bold
  float left
  margin-right 1rem

.inline
  display inline-block
  margin-right 2em
  &:last-child
    margin-right inherit

.vmiddle
  vertical-align middle

.twitter-share-link
  font-size 0.95rem
  color color_text
  &:hover
    color color_text

.ion-social-twitter
  color color_twitter
