color_text_light = #555
color_text_dark = #333
color_pomodoro = #DF2E2E
color_pomodoro_leaf = #3BB500
color_light = #aaa
color_semi_light = darken(color_light, 8%)
color_background = #f9f9f9
container_width = 800px
container_width_2 = (container_width/3*2)
container_width_3 = (container_width/2)
