color_text_light = #555
color_pomodoro = #DF2E2E
color_light = #f9f9f9
color_semi_light = darken(color_light, 8%)
container_width = 768px
container_width_2 = (container_width/3*2)
container_width_3 = (container_width/2)
